<div class="content">

  <div class="row">

    <div class="image-wrapper floated-left">
      <div class="rounded-image">
        <picture>
          <!--<source media="(min-width: 465px)" srcset="img_white_flower.jpg">-->
          <img src="assets/images/dexter.jpg" alt="Dejan Dudukovic"/>
        </picture>
      </div>
    </div>

    <div class="anim-segment">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempor pharetra purus at gravida. Cras rhoncus vehicula convallis. Aliquam erat volutpat. Nulla risus justo, scelerisque non pellentesque sed, rutrum vel lectus. Ut imperdiet, tortor eget interdum fringilla, diam enim maximus nisl, in malesuada ex nunc ut nunc. Curabitur sed diam facilisis, fringilla felis a, venenatis libero. Mauris in tellus fermentum dui vehicula accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam facilisis eleifend nibh, tristique venenatis sapien volutpat at. Aliquam consectetur nunc ut elit feugiat lobortis. Sed porta augue eget justo scelerisque cursus. Praesent tempor molestie commodo. Aenean faucibus nec mauris in consequat. Donec venenatis nec neque eget dignissim.
      </p>
    </div>

    <div class="anim-segment">
      <p>
        Suspendisse eget augue tellus. Ut nunc diam, semper feugiat tellus at, pretium bibendum ex. Morbi sollicitudin purus lorem, id lobortis turpis scelerisque quis. Nunc ut massa nisi. Donec pellentesque pulvinar lectus facilisis scelerisque. Sed bibendum fermentum nisi, vitae volutpat tellus pellentesque sit amet. Pellentesque ut eros et turpis bibendum facilisis eget eget arcu. Praesent mattis lacus neque, et vestibulum mi iaculis quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id lorem fringilla, faucibus odio vitae, luctus augue. Nam blandit, neque vel bibendum ullamcorper, purus tortor elementum libero, id tristique orci nibh at tortor. Ut a neque risus. Cras quis tristique nisi, vitae porttitor sapien. Integer molestie ante risus, a elementum libero pellentesque sed.
      </p>
    </div>

    <div class="anim-segment">
      <p>
        Nunc placerat nisi nec molestie mollis. Donec interdum rutrum dui quis fringilla. Sed et nulla blandit nunc blandit facilisis sed vel felis. Fusce quis eleifend justo. Vivamus mauris ante, elementum ut suscipit nec, vehicula non purus. Phasellus aliquam tortor vel sem placerat interdum. Integer maximus felis non arcu scelerisque, eget finibus mi tempor. Ut nulla ex, efficitur eu sollicitudin in, consectetur sed dui. Maecenas vitae metus suscipit, lacinia orci et, hendrerit sem. Vestibulum iaculis facilisis nibh non cursus. Aenean viverra dolor felis, id finibus neque hendrerit non. Fusce eget odio ante. Sed nec ultrices lorem.
      </p>
    </div>

  </div>

</div>