// ----------------------------------------------------------------------------
// Mixins
// ----------------------------------------------------------------------------

@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin hide {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: -1;
}