// ----------------------------------------------------------------------------
// System Setup
// ----------------------------------------------------------------------------
//
// -- Install node.js
// -- npm install -g gulp
//
// go to the theme folder
// -- run "npm install"
//
// during dev, run "gulp watch"
// when done, run "gulp build"


// ----------------------------------------------------------------------------
// Libraries
// ----------------------------------------------------------------------------
@import '../../node_modules/normalize-scss/sass/normalize.scss';
@import '../../node_modules/breakpoint-sass/stylesheets/breakpoint.scss';
@import '../../node_modules/font-awesome/scss/font-awesome.scss';

// magnific load
@import '../../node_modules/magnific-popup/src/css/main.scss';

@import 'variables.scss';
@import 'mixins';
@import 'debug';

// source setup theme
:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

// Prevent animation footer enter into content
.ng-trigger-pageAnimation {
  clear: none;
  float: left;
  margin-left: 0;
  margin-right: -100%;
  width: 100%;
}

/*
| Layout
========================= */
body {
  margin: 0;
  font-size: 1.6rem;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Open Sans', sans-serif;
  min-width: 320px;
}

/*
| Sticked footer
========================= */
html,body {
  height: 100%;
  margin: 0;
}

body {
  display: table;
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.page,
.footer-sticked {
  display: table-row;
  height: auto;
}

.footer-sticked {
  height: 1px;
}

.navbar-brand {
  font-family: 'Indie Flower', cursive;
}

.social-nav {

  @include breakpoint($upto-m) {
    padding: 5px 0;
  }

  li {
    float: left;

    a {
      @include breakpoint($upto-m) {
        margin: 0;
      }
    }
  }
}

/*
| Typography
========================= */
h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 3.6rem;
  font-weight: 400;
  margin-bottom: 35px;
  margin-top: 0;

  .panel-heading & {
    margin-bottom: 0;
  }
}

h2 {
  font-size: 3.0rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.6rem;
}

h5 {
  font-size: 2.4rem;
}

.thumbnail {

  span.caption {
    display: block;
  }
}

header {
  .navbar {
    margin-bottom: 0;
  }
}

.main-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.loading {
  transition: opacity .8s ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.app-root {
  display: table;
  width: 100%;
  height: 100%;
}

.soc {
  font-size: 24px;
  transition: color 1s ease 0s;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  margin-top: 15px;

  &.fb {

    &:hover {
      color: #3b5999 !important;
      transition: color 0.4s ease 0s;
    }
  }

  &.tw {
    &:hover {
      color: #55acee !important;
      transition: color 0.4s ease 0s;
    }
  }

  &.ln {
    margin-right: 50px;
    &:hover {
      color: #0077B5 !important;
      transition: color 0.4s ease 0s;
    }
  }
}

/*
| Image style
*/
.image-wrapper {
  max-width: 200px;

  &.floated-left {
    float: left;
    margin: 0 25px 15px 0;
  }
}

.rounded-image {
  border-radius: 100%;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

/*
| Pages not found
*/
.page--404 {

  .content {
    @include clearfix();
  }

  .title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px;
  }

  .image {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 300px;

    picture {
      display: block;
    }

    p {
      padding: 15px;
      position: absolute;
      top: -60px;
      left: 190px;
      background-color: #fff;
      text-align: center;
      border: 1px solid rgba(56,56,56,0.6);
      border-radius: 30px;
      box-shadow: 0 0 8px 2px rgba(56, 56, 56, 0.4);
      width: 250px;

      &:after,
      &:before {
        left: 10px;
        bottom: -28px;
        width: 40px;
        height: 40px;
        background-color: #fff;
        border: 2px solid rgba(56,56,56,0.6);
        border-radius: 28px;
        content: ' ';
        position: absolute;
      }


      &:after {
        width: 25px;
        height: 25px;
        left: 2px;
        bottom: -39px;
        border-radius: 18px;
      }
    }
  }
}

.contact-form {
  overflow: hidden;
}

// bootstrap extend
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;

  &.bs-callout-info {
    border-left-color: #1b809e;
  }
}

.footer {
  text-align: center;

  p {
    padding: 20px 0;
    margin: 0;
  }
}

// technology
$border-technology: #e5e5e5;
.technology {
  padding: 15px 0;
  text-align: left;
  margin-bottom: 30px;

  .footer & {
    text-align: center;
    border-top: 1px solid $border-technology;
    border-bottom: 1px solid $border-technology;
  }

  .item-row {
    padding: 0 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 4.4rem;
  }

  .label {
    margin: 0 5px;
    display: inline-block;
    padding: 5px 8px;
  }

  i {
    transition: all 0.2s ease 0s;

    &:not(:hover) {
      color: #727272;
      transition: all 2.2s ease 1s;
    }
  }
}

.projects {

  .thumbnail {

    a {
      display: block;
      text-decoration: none;
      transition: background-color 0.2s ease;

      &:hover {
        transition: background-color 0.2s ease;
        background-color: #F8F8F8;
      }
    }
  }
}

.project-detail {

  .description {
    margin-bottom: 20px;
    display: block;
  }

  .images a {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
  }
}