<div class="row">
  <div class="col-sm-12">


    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>
          Write to us
        </h1>
      </div>
      <div class="panel-body">

        <form class="contact-form" (ngSubmit)="send()" #f="ngForm">

          <div class="form-group">
            <label for="name" class="control-label">First name:</label>
            <input type="text" class="form-control" name="name" id="name" [(ngModel)]="model.name" #name="ngModel">
          </div>

          <div class="form-group">
            <label for="surname" class="control-label">Last name:</label>
            <input type="text" class="form-control" name="surname" id="surname" [(ngModel)]="model.surname" #surname="ngModel">
          </div>

          <div class="form-group">
            <label for="email" class="control-label">Email:</label>
            <input type="email" class="form-control" name="email" id="email" [(ngModel)]="model.email" #email="ngModel">
          </div>

          <div class="form-group">
            <label for="message" class="control-label">Message</label>
            <textarea class="form-control" rows="3" id="message" name="message" [(ngModel)]="model.message" #message="ngModel"></textarea>
            <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
          </div>

          <div class="form-group">
            <button class="btn btn-primary">Send message</button>
          </div>

        </form>

      </div>
    </div>

  </div>

</div>