<div class="row">
  <div class="col-sm-12">

    <div class="contact-head">
      <p>
        I code, blog, tweet and I look forward to hearing from you.
      </p>

      <p>
        You can send me mail:
        <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#100;&#101;&#120;&#116;&#101;&#114;&#110;&#115;&#056;&#056;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">
          &#100;&#101;&#120;&#116;&#101;&#114;&#110;&#115;&#056;&#056;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;
        </a>
      </p>

      <br />

    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>
          Write to us
        </h1>
      </div>
      <div class="panel-body">

        <form name="contact" class="contact-form" (ngSubmit)="contact.form.valid && send(contact)" #contact="ngForm" novalidate>

          <div class="form-group">
            <label for="name" class="control-label">First name:</label>
            <input type="text" class="form-control" name="name" id="name" [(ngModel)]="model.name" #name="ngModel">
          </div>

          <div class="form-group">
            <label for="surname" class="control-label">Last name:</label>
            <input type="text" class="form-control" name="surname" id="surname" [(ngModel)]="model.surname" #surname="ngModel">
          </div>

          <div class="form-group" [ngClass]="{'has-error': contact.submitted && !email.valid }">
            <label for="email" class="control-label">Email: <span class="required">*</span></label>
            <input type="email" class="form-control" name="email" id="email" [(ngModel)]="model.email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <div class="help-block" *ngIf="contact.submitted && !email.valid || !email.untouched">
              <div  *ngIf="email.errors && email.errors.required">
                Email is required
              </div>
              <div  *ngIf="email.errors && email.errors.pattern">
                Email is invalid
              </div>
            </div>
          </div>

          <div class="form-group" [ngClass]="{'has-error': contact.submitted && !message.valid }">
            <label for="message" class="control-label">Message: <span class="required">*</span></label>
            <textarea class="form-control" rows="3" id="message" name="message" [(ngModel)]="model.message" #message="ngModel" required></textarea>
            <div *ngIf="contact.submitted && !message.valid" class="help-block">Message is required</div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary">Send message</button>
          </div>

        </form>

      </div>
    </div>

  </div>

</div>