<section class="row project-detail">
  <div class="col-sm-12">

    <h1 class="project-title">
      <a target="_blank" href="{{ project.link }}">
        {{ project.title }}
      </a>
    </h1>
    <p class="sub-title">{{ project.titleDesc }}</p>

    <div class="bs-callout bs-callout-info">

      <div class="row">
        <div *ngIf="project.images" class="col-sm-4">
          <img class="media-object" src="/assets/images/projects/{{project.images[0]}}" alt="sea" />
        </div>

        <div class="col-sm-8">

          <markdown-to-html class="description" *ngIf="project.content" [src]="'/assets/projects-md/' + project.content"></markdown-to-html>

          <p class="project-link">
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
            <a *ngIf="project.link; else nolink" target="_blank" href="{{ project.link }}">{{ project.link }}</a>
            <ng-template #nolink>{{ project.linkTekst }}</ng-template>
          </p>

          <div class="technology">
            <span>Technology: </span>
            <span *ngFor="let teach of project.teach" class="label label-primary">{{ teach }}</span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="project.images && project.images.length > 1" class="well images">
      <div class="row">
        <a *ngFor="let image of project.images" class="col-sm-4" href="/assets/images/projects/{{ image }}">
          <img src="/assets/images/projects/{{ image }}" alt="{{ image }}" />
        </a>
      </div>
    </div>

  </div>

</section>