:root {
  padding-bottom: 20px; }

body {
  padding-bottom: 20px; }
  body:after {
    color: white;
    display: block;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 3;
    bottom: 0;
    height: 20px;
    overflow: hidden; }
    @media (min-width: 480px) {
      body:after {
        background: red;
        content: 'XS'; } }
    @media (min-width: 550px) {
      body:after {
        background: orange;
        content: 'S'; } }
    @media (min-width: 768px) {
      body:after {
        background: GOLD;
        content: 'M'; } }
    @media (min-width: 992px) {
      body:after {
        background: GREEN;
        content: 'L'; } }
    @media (min-width: 1200px) {
      body:after {
        background: BLUE;
        content: 'XL'; } }
    @media (min-width: 1400px) {
      body:after {
        background: PURPLE;
        content: 'XXL'; } }
    @media (min-width: 1600px) {
      body:after {
        background: INDIGO;
        content: 'XXXL'; } }
  body.adminimal-menu:after {
    top: 29px; }

:root {
  font-size: 10px; }

* {
  box-sizing: border-box; }

/*
| Layout
========================= */
body {
  margin: 0;
  font-size: 1.5rem;
  overflow-x: hidden;
  overflow-y: scroll; }

/*
| Sticked footer
========================= */
html, body {
  height: 100%;
  margin: 0; }

body {
  display: table;
  height: 100%;
  width: 100%; }

img {
  max-width: 100%;
  height: auto; }

.page,
.footer-sticked {
  display: table-row;
  height: auto; }

.footer-sticked {
  height: 1px; }

/*
| Typography
========================= */
h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 3.0rem; }

h3 {
  font-size: 2.8rem; }

h4 {
  font-size: 2.6rem; }

h5 {
  font-size: 2.4rem; }

p {
  font-size: 1.4rem; }

.thumbnail span.caption {
  display: block; }

/*
| Image style
*/
.image-wrapper {
  max-width: 200px; }
  .image-wrapper.floated-left {
    float: left;
    margin: 0 25px 15px 0; }

.rounded-image {
  border-radius: 100%;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.6);
  overflow: hidden; }

/*
| Pages not found
*/
.page--404 .content::after {
  clear: both;
  content: '';
  display: table; }

.page--404 .title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px; }

.page--404 .image {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 300px; }
  .page--404 .image picture {
    display: block; }
  .page--404 .image p {
    padding: 15px;
    position: absolute;
    top: -60px;
    left: 190px;
    background-color: #fff;
    text-align: center;
    border: 1px solid rgba(56, 56, 56, 0.6);
    border-radius: 30px;
    box-shadow: 0 0 8px 2px rgba(56, 56, 56, 0.4);
    width: 250px; }
    .page--404 .image p:after, .page--404 .image p:before {
      left: 10px;
      bottom: -28px;
      width: 40px;
      height: 40px;
      background-color: #fff;
      border: 2px solid rgba(56, 56, 56, 0.6);
      border-radius: 28px;
      content: ' ';
      position: absolute; }
    .page--404 .image p:after {
      width: 25px;
      height: 25px;
      left: 2px;
      bottom: -39px;
      border-radius: 18px; }

.contact-form {
  overflow: hidden; }

/*# sourceMappingURL=screen.css.map */
